/*----------DangerFlags----------*/
.dangerFlagsContainer {
  line-height: 0.25rem;
  padding: 0.75rem 1rem 0px 0px;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 1001;
}

/*----------NewSpeciesModal----------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  padding: 20px;
  max-width: 500px;
  overflow-y: auto;
}

.modal .control label {
  width: 120px;
}

.modal input[type='text'] {
  padding: 10px;
}

.modal .checkboxgroup {
  height: calc((21px * 2) + 5px);
  margin-left: -7px;
}
