.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

:root {
  --pale-yellow: #FFF3B0;
  --brick-red: #9E2A2B;
  --blue-green: #335C67;
}

html {
  background-image: url('/background.png');
  background-size: cover;
  background-position:top;
  background-repeat: repeat-y;
}

form {
  background-color: white;
  width: 100%;
  max-width: calc(100% - 7rem);
  margin-left: 5.25rem;
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem; 
}

.columngroup {
  display: flex;
  column-gap: 2rem;
  row-gap: 1rem;
}

.column {
  width: calc(100% - 2rem);
}

label {
  font-weight: bold;
  color: var(--blue-green);
  white-space: nowrap;
}

.controlgroup {
  flex-direction: column;
  width: 100%;
  margin-bottom: -.55rem;;
}

.control {
  display: flex;
  margin-bottom: .5rem;
}

.control select, .control input, .control textarea, .control .css-b62m3t-container {
  flex: 1;
}

.standard {
  height: 38px;
}

.control label {
  padding-top: .5rem;
  min-width: 5.75rem;
  margin-right: .5rem;
}

input, textarea {
  padding: 2px 2px 2px 10px;
  border: 1px solid #888;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

textarea {
  min-height: 6rem;
}

.checkboxgroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8.25rem;
  column-gap: 2rem;
}

.checkboxgroup label {
  height: 1.5rem;
}

.checkbox {
  margin-right: .25rem;
}

.photogroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: calc(100% - 5rem);
}

.photo {
  min-width: 5rem;
  flex: 1 1 calc((100% - 6rem) / 6);
  color: #aaa;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 8rem; /* centers text on 100px height */
  height: 8rem;
  border: 1px solid #888;
}

#map {
  cursor: pointer;
}

button {
  background-color: #DDD;
  margin-left: 5px;
  padding: 2px;
  width: 75px;
  -webkit-appearance: none;
}

button:hover {
  background-color: darkgrey;
}

.danger-flags-container {
  padding: 1rem 1rem 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index:'9999'
}

/*these are here to override some of the default css settings*/
.photo-preview {
  width: 100%;
  height: 100%;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Small devices (phones) */
@media (max-width: 844px) {
  form {
      max-width: calc(100% - 6rem);
  }
  .columngroup {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .controlgroup {
    flex-direction: column;
  }

  .control label {
    min-width: 100px;
    font-family: 'Roboto Condensed'
  }

  .control {
    font-size: .75rem;
  }

  .control label {
    min-width: 3.5rem;
  }

  .checkboxgroup {
    flex-wrap: nowrap;
    height:unset;
  }

  .checkboxgroup label {
    height: 1rem;
    font-family: 'Roboto'
  }
  .checkbox {
    height: .7rem;
  }
  .photogroup {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
  }

  button {
    margin-bottom: 5px;
    font-family: 'Roboto';
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) { }

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) { }

/* Extra large devices (large desktops) */
/* @media (min-width: 1200px) { } */