:root {
  --pale-yellow: #FFF3B0;
  --peanut-butter: #E09F3E;
  --brick-red: #9E2A2B;
  --warm-brown: #540B0E;
  --grey-blue: #669BCC;
  --blue-green: #335C67;
}

* {
  font-family: Arial, Helvetica, sans-serif
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position:top;
  background-repeat: repeat-y;
  opacity: 0.35;
  z-index: -1;
}

form {
  background-color: white;
  width: 100%;
  max-width: calc(100% - 3rem - 60px);
  margin-left: calc(3rem + 40px);
  margin-top: 5rem;
  padding: 20px 20px 0 20px;
  border: 1px solid black;
  border-radius: 1rem; 
}

.columns {
  display: flex;
  column-gap: 40px;
}

.column {
  width: calc(100% - 40px);
}

label {
  font-weight: bold;
  color: var(--blue-green);
  white-space: nowrap;
}

.controlgroup {
  display: flex;
  flex-direction: column;
}

.controlgroup label {
  margin-bottom: 10px;
}

.control {
  display: flex;
  flex-direction: row;
  width:100%;
  margin-bottom: 10px;
}

.control label {
  padding-top: 5px;
  width: 90px;
  margin-right: 10px;
}

.control select, .control input, .control textarea {
  flex: 1;
}

.checkboxgroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((21px * 5) + (5px * 4));
  gap: 5px 40px;
  margin-bottom: 10px;
}

select, input, textarea {
  padding: 2px;
  border: 1px solid #888;
  height: 32px;
}

.checkbox {
  height: unset;
  margin-left: 7px;
  margin-right: 5px;
}

textarea {
  width: 100%;
  margin-top: 5px;
  height: 96px;
}

.photogroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(100% - 100px);
}

.photo {
  min-width: 100px;
  flex: 1 1 calc((100% - 120px) / 6);
  color: #aaa;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height:100px; /* centers text on 100px height */
  height: 100px;
  border: 1px solid #888;
}

.nestedcheckbox { /*adds space between box and label when checkbox input is nested inside a label */
  margin-right: 5px;
  /* margin-bottom: 5px; */
}

#map {
  cursor: pointer;
}

button {
  background-color: lightgrey;
  margin-left: 5px;
  padding: 2px;
  width: 75px;
}

button:hover {
  background-color: darkgrey;
}

.danger-flags-container {
  padding: 20px 20px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  z-index:'9999'
}

/*these are here to override some of the default css settings*/
.photo-preview {
  width: 100%;
  height: 100%;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}