.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
}

.dialog .control label {
  width: 120px;
}

.dialog input[type='text'] {
  padding: 10px;
}

.dialog .checkboxgroup {
  height: calc((21px * 2) + 5px);
  margin-left: -7px;
}