footer {
  display: flex;
  justify-content: flex-end;
  margin-top:20px;
  padding: 20px; 
  border-top: 1px solid black;
  }

  button {
    background-color: lightgrey;
    margin-left: 5px;
    padding: 2px;
    width: 75px;
  }

  button:hover {
    background-color: darkgrey;
  }