#header {
    background-color: var(--blue-green);
    color: var(--pale-yellow);
    padding: 20px; 
    position: relative;
    width: 100vw;
  }
 #header h1 {
  font-size: 2rem;
 }

 .danger {
  font-weight: 700;
  color: white;
 }
