.header {
  background-color: var(--blue-green);
  color: var(--pale-yellow);
  padding: 10px 10px 2px 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}
.longTitle {
  display: inline;
}
.shortTitle {
  display: none;
}

@media (max-width: 575.98px) {
  .longTitle {
    display: none;
  }
  .shortTitle {
    display: inline;
  }
}
