.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue-green);
  color: var(--pale-yellow);
  padding: 10px 10px 2px 10px;
  left: 0;
  top: 0;
  z-index: 1000;
}

.longTitle {
  display: inline;
}

.shortTitle {
  display: none;
}

.flushRightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login {
  height: 2rem;
  display: inline;
}

@media (max-width: 575.98px) {
  .longTitle {
    display: none;
  }
  .shortTitle {
    display: inline;
  }
}
