.navbar {
  position: fixed;
  top: 4.5rem;
  left: 10px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
}

.radiobuttonlist {
  position: relative; /* positioning context for line */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 3rem; /* match width of radio buttons */
  margin: 0 auto; /* center inside navbar */
}

.radiobuttonlist::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 100%; /* fill the column height */
  background-color: var(--brick-red);
  z-index: 0; /* behind the radio buttons */
}

.radiobuttonlist label {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

input[type='radio'] {
  appearance: none;
  margin: 0;
  background-color: white;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--brick-red);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--brick-red);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

/*disabled radio button */
input[type='radio']:disabled {
  border-color: lightgray;
  background-color: #f5f5f5;
  cursor: not-allowed;
}

/*inner circle of disabled radio button */
input[type='radio']:disabled::before {
  background-color: lightgray;
}

/*tooltip when radio is disabled */
input[type='radio']:disabled + .tooltip {
  color: lightgray;
}
.radiooption {
  position: relative;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  left: 110%;
  background-color: var(--blue-green);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.85rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.radiooption:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
