#treeForm {
  background-color: var(--pale-yellow);
  padding-top: 1rem;
  height: 100vh;
  line-height: 1.2rem;
}

form {
	background-color:white;
  max-width: 1024px;
	margin: auto;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1rem; 
}

.columns {
	display: flex;
}

.column {
  width: calc(50% - 10px);
}

.column div {
  display: flex;
  margin-bottom: 5px;
  width: 100%
}

form .controlgroup {
  display:block;
}

form .subcategory {
  margin-left: 20px;
  margin-bottom: 5px;
}

form .subcategory label {
  width: calc(32% - 20px);
}

form .textinput {
  border: 0px solid black;
  margin-left: 10px;
  padding: 2px;
  width: calc(68% - 40px);
}

form select {
  border:1px solid black;
  margin-left: 10px;
  width: calc(68% - 40px);
  padding: 2px;
}

form label {
  font-weight: bold;
  color: var(--blue-green);
  width: 32%;
  white-space: nowrap;
}

form .danger {
  display: flex;
  justify-content:flex-end;
  gap: 20px;
  /* width:fit-content; */
}

form .danger label {
  display: block;
  text-align: right;
  width: auto;
  color: red;
}

form .danger input {
  margin-right: 10px;
}

/* ".column" is required below to increase the specficity of this selector; without it, "display: flex" from ".column div" above overrides the "display: block" here; adding "!important" after block would also work */
form .column .checkboxgroup {
  display: block;
  white-space: normal;
  column-count: 2;
  column-gap: 20px;
}

form .checkboxgroup label {
  display: block;
  white-space: nowrap;
  font-weight: normal;
  color:black;
  margin-left: 20px;
}

form .checkboxgroup input {
  margin-right: 10px;
}

form textarea {
  width:100%;
  padding: 5px;
}