<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="en-us">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/styles/reset.css">
        <link rel="stylesheet" href="./assets/styles/styles.css">
        <title>Summit Chase Tree Inventory</title>
    </head>

    <body onload="populateGenus()">
      <div id="map" style="height:100%"></div>
        <form>
            <h1>Log a New Tree into the Inventory</h1>
            <!--from https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01 -->
            <div class="row">
                <div class="column">
                    <div>
                        <label for="common_name">Common name:</label>
                        <select id="common_name" name="common_name"></select>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="latin_name">Latin name:</label>
                        <select id="latin_name" name="latin_name"></select>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="species">Species:</label>
                        <input type="text" id="species"></input>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <label for="variety">Variety:</label>
                        <input type="text" id="variety"></input>
                    </div>
                </div>
            </div>
                <div>
                    <label for="last_visited">Date of last visit:</label>
                    <input type="text" id="last_visited"></input>
                </div>
                <div>
                    <label for="northing">Northing:</label>
                    <input type="text" id="northing"></input>
                </div>
                <div>
                    <label for="easting">Easting:</label>
                    <input type="text" id="easting"></input>
                </div>
                <div>
                    <label for="dbh">DBH:</label>
                    <input type="text" id="dbh"></input>
                </div>
                <div>
                    <label for="care_notes">Care and notes:</label>
                    <input type="text" id="care_notes"></input>
                </div>
                <div>
                    <label for="install_date">Installation date:</label>
                    <input type="text" id="install_date"></input>
                </div>
                <div>
                    <label for="installer">Installed by:</label>
                    <input type="text" id="installer"></input>
                </div>
                <div>
                    <label for="remove_date">Removal date:</label>
                    <input type="text" id="remove_date"></input>
                </div>
                <div>
                    <label for="remover">Removed by:</label>
                    <input type="text" id="remover"></input>
                </div>
            </div>
        </form>
        <p>ID:</p>

       <script src="./assets/javascript/input_form.js"></script>
    </body>
</html>